# Copyright 2025 Ian Lewis
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: buf-breaking

on:
  workflow_call:
    inputs:
      from_ref:
        type: string
        required: false
        default: ${{ github.event.pull_request.base.sha }}
      to_ref:
        type: string
        required: false
        default: ${{ github.event.pull_request.head.sha }}

permissions:
  contents: read

concurrency:
  group: buf-breaking-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  buf-breaking:
    name: buf-breaking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0 # Fetch all history for all branches and tags

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: ".python-version"

      # NOTE: actions/checkout does not set up local branches
      - run: |
          set -euo pipefail
          # Fetch the HEAD ref. This is necessary to get the correct default
          # branch.
          git remote set-head origin --auto

          # Create local branches for all remote branches except pull requests.
          set -euo pipefail
          current_branch=$(git rev-parse --abbrev-ref HEAD)
          for remote_branch in $(git branch -r | grep -v "\->" | grep -v -e "^\s*pull/"); do
            local_branch=$(echo "${remote_branch}" | sed 's/origin\///')
            if [[ "${local_branch}" == "${current_branch}" ]]; then
              continue
            fi
            git branch --track "${local_branch}" "${remote_branch}"
          done

      - name: buf-breaking
        env:
          BUF_FROM_REF: ${{ inputs.from_ref }}
          BUF_TO_REF: ${{ inputs.to_ref }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make buf-breaking
